

<%= "Comment".pluralize(@comments.count) %> (<%= @comments.count %>)
<br>
<% @comments.each do |comment|%>
<div class="container">
<div class="row">
<div class="col-1">
<% if comment.has_attribute?(:user_id) and comment.user != nil %>
    <img class="perfil_image" src ="<%=comment.user.imageurl%>">
<% end %>
</div>

<div class="col-11">
<% if comment.has_attribute?(:user_id) and comment.user != nil %>
  <span class="user-name"><%= @issue.user.name %> </span>
<% else %>
    <b> !!!! ERROR ACTUALIZA EL PROYECTO O COMUNICATE CONMIGO !!!!: </b> 
<% end %>

 <span class="time-ago"><%= time_ago_in_words(comment.created_at)%></span>
 <p> <%= comment.content %></p>
 <p> <% if comment.file.present? %>

    <%= link_to "Download attachment", comment.file.url(:original, false) %>
 
  <%end%></p>
<% if current_user == comment.user %>
    <%= link_to "Edit", edit_issue_comment_path(comment.issue, comment)%>
    <%= link_to "Delete", [comment.issue, comment], method: :delete%>
    <br>
<% end%>
</div>
</div>
</div>
<% end %>