
<div class="container">
    <div class="row">
        <% if current_user %>
            <div class="col-1">
                <img class="user-image" src ="<%=current_user.imageurl%>">
            </div>

            <div class="col-11">
                <%= form_for([@issue, @issue.comments.build], html: { multipart: true}) do |f| %>
                <%= f.text_area :content , class: 'form-control'%>
                <%= f.label :file, "File" %>
                <%= f.file_field :file %>
                <br>
                <%= f.submit "Comment", :class => 'button-primary'%>
                <% end %>
            </div>
        <% end %>
    
    </div>
</div>