<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
    <div class="row">
      <div class="col-2">
        <div class="field not-bold text-right">
    <%= form.label :title %>
        </div>
      </div>

      <div class="col-5">
        <div class="field">
    <%= form.text_field :title, id: :issue_title, class: 'form-control'  %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <div class="field not-bold text-right">
    <%= form.label :description %>
        </div>
      </div>

      <div class="col-5">
        <div class="field">
    <%= form.text_area :description, id: :issue_description, class: 'form-control'  %>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-2">
        <div class="field not-bold text-right">
    <%= form.label :status %>
        </div>
      </div>

      <div class="col-5">
        <div class="field">
    <%= form.select :status, [['open'],['on hold'],['resolved'],['duplicate'],['invalid'],['wontfix'],['closed']], default: @issue.status, class: 'form-control'  %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <div class="field not-bold text-right">
    <%= form.label :kind %>
        </div>
      </div>

      <div class="col-5">
        <div class="field">
    <%= form.select :kind, [['bug'],['enhancement'],['proposal'],['task']], class: 'form-control'  %>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-2">
        <div class="field not-bold text-right">
    <%= form.label :priority %>
        </div>
      </div>

      <div class="col-5">
        <div class="field">
    <%= form.select :priority, [['trivial'],['minor'],['major'],['critical'],['blocker']], class: 'form-control'  %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-2">
        <div class="field not-bold text-right">
    <%= form.label :assignee %>
        </div>
      </div>

      <div class="col-5">
        <div class="field">
    <%= form.collection_select :assignee_id, User.order(:name),:id,:name, include_blank: true , class: 'form-control' %>
        </div>
      </div>
    </div>

     <div class="row justify-content-end">
        <div class="actions">
          <span class="mx-3"><%= form.submit :class =>'button-primary' %></span>
        </div>
        <span class="mx-3 no-bold">
<%= link_to 'Cancel', @issue, class: 'link-secondary not-bold align-middle' %></span>
    </div>

  </div>
<% end %>
