<header>
        
<div class="filter-container">
    <p class="filter-label">Filter by:</p>
    <ul class="filter-status">
      <li id="all" aria-pressed="true">
        <a href="/issues">All</a>
      </li>
      <li id="open">
        <a href="/issues?status=new&amp;status=open">Open</a>
      </li>
      <li id="myissues">
        <a href="/issues?user_id="+current_user.id>My issues</a>
      </li>

    </ul>
  </div>

        <h1>
          Issues
          

            <span class="secondary">(<%= (@issues.count{ |u| [u.title] })%>)</span>
          
        </h1>
      </header>


<p id="notice"><%= notice %></p>

<table class = "table">
  <thead class = "table_header">
    <tr>
      <th class="leyenda">Title</th>
      <th class="leyenda">Kind</th>
      <th class="leyenda">Priority</th>
      <th class="leyenda">Status</th>
      <th class="leyenda">Votes</th>
      <th class="leyenda">Assignee</th>
      <th class="leyenda">Created</th>
      <th class="leyenda">Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class = "table_body">
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue%></td>
        <% if issue.kind == "bug" %>
	<td><%= image_tag("bug.svg") %></td>
        <% end %>
	<% if issue.kind == "enhancement"%>
	<td><%= image_tag("enhancement.svg") %></td>
        <% end %>
 	<% if issue.kind == "proposal"%>
	<td><%= image_tag("proposal.svg") %></td>
        <% end %>
	<% if issue.kind == "task"%>
	<td><%= image_tag("task.svg") %></td>
        <% end %>
	<% if issue.priority == "trivial"%>
	<td><%= image_tag("trivial.svg") %></td>
	<% end %>
	<% if issue.priority == "minor"%>
	<td><%= image_tag("minor.svg") %></td>
	<% end %>
	<% if issue.priority == "major"%>
	<td><%= image_tag("major.svg") %></td>
	<% end %>
	<% if issue.priority == "critical"%>
	<td><%= image_tag("critical.svg") %></td>
	<% end %>
	<% if issue.priority == "blocker"%>
	<td><%= image_tag("blocker.svg") %></td>
	<% end %>
	<% if issue.status == "new" %>
    <td class = "status" id = "status-new" ><%= issue.status %></td>
    <%end%>
    <% if issue.status == "open" %>
    <td class = "status" id = "status-open" ><%= issue.status %></td>
    <%end%>
    <% if issue.status == "on_hold" %>
    <td class = "status" id = "status-on_hold" ><%= issue.status %></td>
    <%end%>
    <% if issue.status == "duplicate" %>
    <td class = "status" id = "status-duplicate" ><%= issue.status %></td>
    <%end%>
    <% if issue.status == "invalid" %>
    <td class = "status" id = "status-invalid" ><%= issue.status %></td>
    <%end%>
    <% if issue.status == "wontfix" %>
    <td class = "status" id = "status-wontfix" ><%= issue.status %></td>
    <%end%>
    <% if issue.status == "closed" %>
    <td class = "status" id = "status-closed" ><%= issue.status %></td>
    <%end%>
    <% if issue.status != "new" and issue.status != "open" and issue.status != "on_hold" and issue.status != "duplicate" and issue.status != "invalid" and issue.status != "wontfix" and issue.status != "closed" %>
    <td></td>
    <% end %>
    <% if issue.votes.count > 0 %>
        <td id = "vote">
        <%= issue.votes.count %>
        </td>
    <% else %>
        <td></td>
        <% end %>
    <td><% if issue.assignee.present? %>
        <%= issue.assignee.name %>
        <% end %>
    </td>        
    
        <td><%= time_ago_in_words(issue.created_at) + " ago" %></td>
        <td><%= time_ago_in_words(issue.updated_at) + " ago" %></td>
        <!--<td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        
        <% if current_user != nil %>
        <td>
        <% pre_watch = issue.watches.find { |watch| watch.user_id == current_user.id} %>
          <% if pre_watch %>
            <%= button_to 'Unwatch', issue_watch_path(issue, pre_watch), method: :delete %>
          <% else %>
            <%= button_to 'Watch', issue_watches_path(issue), method: :post %>
          <% end %>
        </td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
