<header>
        
<div id="issues-toolbar" class="clearfix">
  <div class="filter-container">
    <p class="filter-label">Filter by:</p>
    <ul class="filter-status">
      <li id="all" aria-pressed="true">
        <a href="/fib_was/issue_tracker_demo/issues">All</a>
      </li>
      <li id="open">
        <a href="/fib_was/issue_tracker_demo/issues?status=new&amp;status=open">Open</a>
      </li>
      
    </ul>
  </div>
  <div class="issues-toolbar-right">
    
      <a id="advanced-search" href="/fib_was/issue_tracker_demo/issues/query">
        Advanced search
      </a>
    
    <form class="aui top-label" id="search" action="/fib_was/issue_tracker_demo/issues">
      <div class="field-group">
        <label for="q">Search</label>
        <input type="text" class="text" id="q" name="q" results="5" autosave="bitbucket-issues-filter" placeholder="Find issues">
      </div>
    </form>
  </div>
</div>

        <h1>
          Issues
          

            <span class="secondary">(1-<%= (@issues.count{ |u| [u.title] })%>)</span>
          
        </h1>
      </header>


<p id="notice"><%= notice %></p>

<table class = "table">
  <thead class = "table_header">
    <tr>
      <th class="leyenda">Title</th>
      <th class="leyenda">Kind</th>
      <th class="leyenda">Priority</th>
      <th class="leyenda">Status</th>
      <th class="leyenda">Assignee</th>
      <th class="leyenda">Created</th>
      <th class="leyenda">Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class = "table_body">
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue%></td>
        <% if issue.kind == "bug" %>
	<td><%= image_tag("bug.svg") %></td>
        <% end %>
	<% if issue.kind == "enhancement"%>
	<td><%= image_tag("enhancement.svg") %></td>
        <% end %>
 	<% if issue.kind == "proposal"%>
	<td><%= image_tag("proposal.svg") %></td>
        <% end %>
	<% if issue.kind == "task"%>
	<td><%= image_tag("task.svg") %></td>
        <% end %>
        <td><%= issue.priority %></td>
        <td><%= issue.status %></td>
        <td><%= issue.assignee %></td>
        <td><%= time_ago_in_words(issue.created_at) + " ago" %></td>
        <td><%= time_ago_in_words(issue.updated_at) + " ago" %></td>
        <!--<td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
