<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @issue.kind %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @issue.assignee %>
</p>

<% pre_vote = @issue.votes.find { |vote| vote.user_id == current_user.id} %>
<% if pre_vote %>
  <%= button_to 'Unvote', issue_votes_path(@issue, pre_vote), method: :delete %>
<% else %>
  <%= button_to 'Vote', issue_votes_path(@issue), method: :post %>
<% end %>

<p><%= @issue.votes.count %> <%= (@issue.votes.count) == 1 ? 'Vote' : 'Votes'%></p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>

<hr>

<%= render 'comments/comment'%>
<br>
<%= render 'comments/form'%>
