<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if current_user != nil && current_user.oauth_token == @user.oauth_token %> <p>
  <strong>Api Key:</strong>
  <%= @user.oauth_token %>
</p>
<% end %>

<%= link_to 'Back', users_path %>
